<hr />
<footer class="container">
  <div class="d-flex justify-content-center p-3">
    <a href="#" class="text-black">
      <i class="mx-1 fa-brands fa-square-facebook h4"></i
    ></a>
    <a href="#" class="text-black">
      <i class="mx-1 fa-brands fa-square-twitter h4"></i
    ></a>
    <a href="#" class="text-black">
      <i class="mx-1 fa-brands fa-square-github h4"></i
    ></a>
  </div>
  <div class="d-flex justify-content-center">
    <small>Copyright © Hack Academy 2022</small>
  </div>
</footer>
