<nav class="navbar navbar-light bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand text-white fw-bold" href="/">Hack the Blog</a>
    <a href="/articulos" class="btn btn-primary">Admin</a>
  </div>
</nav>
